<div class="page page-collection page-denio">

{% comment %}		<div class="page-container mt-5 mb-5">
			<h1 class="collection-title">
				{{ page.title }}
			</h1>
		</div>{% endcomment %}

{% section 'slideshow7' %}
{% section 'featured-text7' %}
{% section 'featured-promotions7' %}
</div>

{% section 'featured-collection7' %}
{% section 'vendor-collection7' %}
