<div class="page page-collection page-doro">

{% comment %}		<div class="page-container mt-5 mb-5">
			<h1 class="collection-title">
				{{ page.title }}
			</h1>
		</div>{% endcomment %}

{% section 'slideshow5' %}
{% section 'featured-text5' %}
{% section 'featured-promotions5' %}
</div>

{% section 'featured-collection5' %}
{% section 'vendor-collection5' %}
