<div class="page page-collection page-lbh">

{% comment %}		<div class="page-container mt-5 mb-5">
			<h1 class="collection-title">
				{{ page.title }}
			</h1>
		</div>{% endcomment %}

{% section 'slideshow11' %}
{% section 'featured-text11' %}
{% section 'featured-promotions11' %}
</div>

{% section 'featured-collection11' %}
{% section 'vendor-collection11' %}
