<div class="page page-collection page-chats ">

		{% comment %}<div class="page-container mt-5 mb-5">
			<h1 class="collection-title">
				{{ page.title }}
			</h1>
		</div>{% endcomment %}

{% section 'slideshow' %}
{% section 'featured-text' %}
{% section 'featured-promotions' %}
</div>

{% section 'featured-collection' %}
{% section 'vendor-collection' %}



