<div class="page page-collection page-bored">

		{% comment %}<div class="page-container mt-5 mb-5">
			<h1 class="collection-title">
				{{ page.title }}
			</h1>
		</div>{% endcomment %}

{% section 'slideshow3' %}
{% section 'featured-promotions3' %}
</div>

{% section 'featured-collection3' %}
{% section 'vendor-collection3' %}
