<div class="page page-collection page-decos">

{% comment %}		<div class="page-container mt-5 mb-5">
			<h1 class="collection-title">
				{{ page.title }}
			</h1>
		</div>
{% endcomment %}
{% section 'slideshow6' %}
{% section 'featured-text6' %}
{% section 'featured-promotions6' %}
</div>

{% section 'featured-collection6' %}
{% section 'vendor-collection6' %}
