<div class="page page-collection page-ines">

{% comment %}		<div class="page-container mt-5 mb-5">
			<h1 class="collection-title">
				{{ page.title }}
			</h1>
		</div>{% endcomment %}

{% section 'slideshow9' %}
{% section 'featured-text9' %}
{% section 'featured-promotions9' %}
</div>

{% section 'featured-collection9' %}
{% section 'vendor-collection9' %}