<div class="page page-collection page-dreamii">
{% comment %}
		<div class="page-container mt-5 mb-5">
			<h1 class="collection-title">
				{{ page.title }}
			</h1>
		</div>{% endcomment %}

{% section 'slideshow8' %}
{% section 'featured-text8' %}
{% section 'featured-promotions8' %}
</div>

{% section 'featured-collection8' %}
{% section 'vendor-collection8' %}